In [16]:
import os
import pandas as pd
import numpy as np

In [28]:
#pulling files into pandas
file_station = "hawaii_stations.csv"
file_measure = "hawaii_measurements.csv"

station_df = pd.read_csv(file_station)
station_df.head()

measure_df = pd.read_csv(file_measure)
measure_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [32]:
measure_df = measure_df.dropna(how='any')
station_df = station_df.dropna(how='any')

9

In [33]:
measure_df.to_csv("clean_hawaii_measurements.csv", encoding="utf-8", index=False, header=True)
station_df.to_csv("clean_hawaii_stations.csv", encoding="utf-8", index=False, header=True)